<div style="position: relative;display: grid;place-items: center;width: 100%;">
    <iframe frameborder="0" name="game_iframe" src="" allowfullscreen="" style="background-color: black;width:100%;aspect-ratio: 256 / 155;"><a href="https://mattbann.itch.io/asteroid-fling">Play Asteroid Fling on itch.io</a></iframe>
    <a class="button button--primary button--rounded" href="{{ include.game }}" target="game_iframe" onclick="this.style.display='none'" style="position: absolute;display: block;"><i class="fas fa-play"></i> Play Game</a>
</div>